﻿@model List<FixtureGenarator.ViewModels.FixtureViewModel>
@{
    ViewBag.Title = "ShowFixture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Home
        </th>

        <th>
            Away
        </th>

        <th>
            Week
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
              @item.HomeTeamName
            </td>
            <td>
              @item.AwayTeamName
            </td>
            <td>
              @item.WeekName  
            </td>
        </tr>
    }
</table>
