﻿@model List<FixtureGenarator.ViewModels.ResultViewModel>
@{
    ViewBag.Title = "ShowFixtureGeneratorResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Home
        </th>
        <th>
            Away
        </th>
        <th>
            Date
        </th>

        <th>
            Day
        </th>
        <th>
            Week
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.HomeTeamName
            </td>
            <td>
                @item.AwayTeamName
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @item.Day
            </td>
            <td>
                @item.Week
            </td>
        </tr>
    }
</table>
